services:
  my-love-web:
    container_name: my-love-web
    build: .
    expose:
      - 80
    ports:
      - "127.0.0.1:5173:80"
    networks:
      - app-network
    restart: unless-stopped


networks:
  app-network:
    driver: bridge
